.container {
    height: 800px;
}
.box {
    width: 1475px!important;
    height: 620px!important;    
    border-radius: 25px;
}

.imagem-menu{
    opacity: 100%;
    transition: opacity 0.9s; 


}
.imagem-menu:hover{
    opacity: 50%;
    transition: opacity 0.9s;
}






.texto{
    font-size: 1.3em;
    transition: 1s;
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid black;
}
.texto:hover{
    cursor: pointer;
    color: white;
    background-color: #F6B931;
    transition: 0.4s;
}

li{
    display: inline-block;
}
.menu-lado{
    margin-left: 50px;
}
.opcoes{
    margin-bottom: 25px;
}

