.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    overflow-x: hidden;
}

.divExterna{
    text-align: center;
    width: 100%;
    
}
.divInterna{
    display: inline-block;
    /*background-color: #c9c9c9;*/
}

.divCentralizada{
    width: 1200px;  
    margin: 0 auto; 
}

th{
    background-color: rgb(87, 87, 87);
    font-weight: bolder;
    color: white;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}
table{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.editarDeletar{
    padding: 3px;
    cursor: pointer;
}
.botaoEditar{
    background-color: rgba(153, 205, 50, 0.459);
    border: none;
    margin-right: 3px;
}
.botaoDeletar{
    background-color: rgba(216, 19, 19, 0.589);
    border: none;
}


label{
    font-size: 1.5em;
}
select{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
}
input, select{
    font-size: 1.1em;
}
select:hover{
    cursor: pointer;
}
.input-text{
    width: 100%; 
    cursor: text;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.formBtn{
    margin-right: 15px;
    margin: 10px;
    width: 150px;
    padding-top: 7px;
    padding-bottom: 7px;
    transition: 0.4s;
    border-radius: 10px;
    cursor: pointer;
}
input[type="submit"].adicionar{
    background-color: rgba(153, 205, 50, 0.459);
    border: none;
}
input[type="submit"].adicionar:hover{
    background-color: rgb(153, 205, 50);
    transition: 0.4s;
}
input[type="reset"].limpar{
    background-color: rgba(216, 19, 19, 0.589);
    border: none;
}
input[type=reset]:hover{
    background-color: rgba(255, 0, 0, 0.856);
    transition: 0.4s;
}




.nums-paginacao{
    margin-right: 7px;
    margin-bottom: 20px;
}


.divBotaoCadastro{
    margin-top: 20px;
    margin-bottom: 20px; 
}
.botaoCadastro{
    color: black;
    text-decoration: none;
    background-color: white;
    border-radius: 10px;
    border: black 2px solid;
    padding: 4px;
    margin-bottom: 20px;
    transition: 1s;
}
.botaoCadastro:hover{
    background-color: rgb(107, 107, 107);
    transition: 1s;
    color: rgb(243, 243, 243);
}


.scrollHorizontal{
    width: 98%;
    overflow-x: auto;
    white-space: nowrap;
}



/* Sucesso ao adicionar */
.respostaAdicionar{
    width: 99%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 1.2em;
}
